################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/CSharpAlgorithm/bin


/CSharpAlgorithm/obj


/packages